{#
/**
 * Copyright (c) 2014 Tuan-Tu TRAN
 * 
 * This file is part of ADES.
 * 
 * ADES is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * ADES is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with ADES.  If not, see <http://www.gnu.org/licenses/>.
*/
#}
{% if backup_files|length > 0 %}
<h3>Liste de dernières sauvegardes disponibles</h3>

<form style="border:none; padding:0" method="POST" action="{{path("educ_action_ades_backup_delete_many")}}">
{% if allow_backup_delete is not defined %}
        {% set allow_backup_delete = true %}
{% endif %}

{% if allow_backup_download is not defined %}
        {% set allow_backup_download = true %}
{% endif %}

{%if restore_route is not defined %}
        {% set restore_route = "educ_action_ades_backup_restore"%}
{% endif %}

<table id="backup_table">
	<tr style="background-color:orangered">
		{% if allow_backup_delete %}
                <td></td>
		{% endif%}
		<td>Fichiers de sauvegarde</td>
		<td style="text-align:center">Date</td>
		<td style="text-align:center">Version</td>
		<td style="text-align:center">Taille</td>
		<td style="text-align:center">Commentaire</td>
		{% if allow_backup_delete %}
		<td style="text-align:center">Effacer</td>
		{% endif%}
		<td style="text-align:center">Restaurer</td>
	</tr>
    {% for file in backup_files %}
		<tr class="backup">
			{% if allow_backup_delete %}
                        <td><input type="checkbox" name="to_delete[]" value="{{file.name}}"/></td>
			{% endif%}
			<td>
		{% if allow_backup_download %}
                <a href="{{ path("educ_action_ades_backup_download", { "file" : file.name }) }}"
					target="_blank"
                    {{overlib('Cliquer pour télécharger cette sauvegarde')}}
                >{{file.name}}</a>
		{% else%}
			{{file.name}}
		{% endif%}
</td>
            <td style="text-align:center">{{file.time|date("d/m/Y à H:i")}}</td>
            <td
                {% if file.is_current_version %}
                    style="text-align:right;"
                {% elseif not file.restorable %}
                    style="text-align:right;background-color:lightsalmon"
                    {{ overlib("Cette sauvegarde ne peut pas être restaurée car elle est incompatible avec la version actuelle du code ("~constant("EducAction\\AdesBundle\\Upgrade::Version")~")") }}
                {% else %}
                    style="text-align:right;background-color:lightsalmon"
                    {{ overlib("Une restauration de cette sauvegarde nécessitera une mise à jour de la base de données") }}
                {% endif %}
            >
                {{ file.version }}
            </td>
            <td style="text-align:right">{{ file.size|file_size }}</td>
            <td>{{ file.comment }}</td>
		{% if allow_backup_delete %}
			<td style="text-align:center">
                <a href="{{ path("educ_action_ades_backup_delete", { "file" : file.name }) }}"
                    {{ overlib("Cliquer pour supprimer cette sauvegarde.") }}
					onclick="return confirm('Êtes vous sûr de vouloir effacer cette sauvegarde?\nCette action est IRREVERSIBLE!');"
                    ><img style="width:16px;height:16px;" border="0" alt="X" src="{{asset("images/suppr.png")}}"></a>
            </td>
		{% endif%}
			<td style="text-align:center">
			{% if file.restorable %}
                <a href="{{ path(restore_route, { "file" : file.name }) }}"
                    {% set overlibText = 'Cliquer pour restaurer cette sauvegarde.' %}
                    {% set confirmText="Êtes vous sûr de vouloir restaurer cette sauvegarde?\n\nCette action est IRREVERSIBLE!" %}
                    {% if not file.is_current_version %}
                        {% set overlibText = overlibText ~ "<br/>ATTENTION! Une mise à jour de la base de données sera nécessaire." %}
                        {% set confirmText = confirmText ~ "\n\nDe plus, une mise à jour de la base de données sera nécessaire après la restauration." %}
                    {% endif %}
                    {{ overlib(overlibText) }}
                    onclick="return confirm({{ confirmText|json_encode }});"
                    ><img style="width:16px;height:16px;" border="0" alt="restore" src="{{asset("images/restore.png")}}"></a>
		    {%endif%}
            </td>
		</tr>
    {% endfor %}
	{% if allow_backup_delete %}
    <tr>
            <td style="text-align:center">&#8627;</td>
            <td colspan="7">
                    <input type="submit" value="Supprimer la sélection" id="delete_many"/>
                </td>
    </tr>
	{% endif%}
</table>
</form>
{% endif %}
