{#
/**
 * Copyright (c) 2015 Tuan-Tu Tran
 * 
 * This file is part of ADES.
 * 
 * ADES is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * ADES is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with ADES.  If not, see <http://www.gnu.org/licenses/>.
*/
#}

{% macro redirect(msg, url, timeout) %}
        <p class="avertissement">{{msg}}</p>
        <script type="text/javascript">
                setTimeout(function(){{ "{" }}
                                window.location.href="{{url|e("js")}}";
                {{ "}" }},{{timeout}});
        </script>
{% endmacro %}

{% macro back(text) %}
        <div class="inv" style="text-align:center; margin: 1em 0 2em 0"><a href="javascript:history.go(-1)">{{text|default("Retour à la page précédente")}}</a></div>
{% endmacro %}
