{#
/**
 * Copyright (c) 2014 Tuan-Tu TRAN
 * 
 * This file is part of ADES.
 * 
 * ADES is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * ADES is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with ADES.  If not, see <http://www.gnu.org/licenses/>.
*/
#}

{% extends 'EducActionAdesBundle::layout.html.twig' %}

{% block content %}
<p>Déconnexion</p>
{% if user.isAdmin() %}
    {% if lastBackup %}
        <p>
            La dernière sauvegarde
            a été effectuée le {{ lastBackup.getTimestamp()|date("d/m/Y à H:i") }}
        </p>
        <p>Il y a
            {% if last_backup_since.days > 0 %}
                {{ last_backup_since.days }} jour{{last_backup_since.days>1?"s":""}}.
            {% elseif last_backup_since.h > 0 %}
                {{ last_backup_since.h }} heure{{last_backup_since.h>1?"s":""}}.
            {% else %}
                moins d'une heure.
            {% endif %}
        </p>
    {% endif %}

    {% if newBackup %}
        <p>Une nouvelle sauvegarde a été effectuée.</p>
    {% else %}
        <p>Une nouvelle sauvegarde n'a pas été effectuée car la dernière est assez récente.</p>
    {% endif %}

{% endif %}
{% endblock %}
