{#
Copyright (c) 2015 Tuan-Tu TRAN

This file is part of ADES.

ADES is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ADES is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ADES.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'EducActionAdesBundle:Upgrade:base.html.twig' %}

{% block content %}
		<form method="POST" class="no_border">
                        {% if restore %}
                        <p>La sauvegarde {{restore.filename}} a été correctement restaurée.</p>
                        {% endif%}
			<p>La base de données doit être mise à jour de la version
				{{ fromVersion }}
				vers la version
				{{ toVersion }}
			</p>

			{% if scriptsToExecute is not empty %}
				<p>Les scripts de mise à jours suivant seront exécutés:</p>
				<ul>
					{% for script in scriptsToExecute %}
						<li>{{ script }}</li>
					{% endfor %}
				</ul>
			{%else%}
				<p class="impt">Aucun script de mise à jour ne sera exécuté!</p>
				<p class="impt">ATTENTION, CECI N'EST PAS NORMAL!</p>
			{%endif%}

			{% if upgradeScripts is not empty %}
				<p>Scripts de mise à jour disponibles:</p>
				<ul>
					{% for script in upgradeScripts %}
						<li>{{ script }}</li>
					{%endfor%}
				</ul>
			{%else%}
				<p class="impt">Aucun script de mise à jour disponible.</p>
			{%endif%}

			<p>Un backup de la db actuelle sera créé avant de faire la mise à jour</p>

			{% if scriptsToExecute is not empty %}
				<input type="submit" value="Mettre à jour"/>
			{%endif%}
		</form>
{% endblock %}
